<!-- chat/templates/index.html -->


{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Communicator {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{% static 'assets/css/ellie.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet" />
<style>
 #roomSelect {
   height: 300px;
   width: 350px;
 }
 body, button, input, select, textarea {
   font-family: "Monospace", sans-serif; 
 }

</style>

{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-auto bg-dark sticky-top">
      <div class="d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top">
        <ul
          class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-2 align-items-center">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
               data-bs-placement="right" data-bs-original-title="Home">
              <i class="bi bi-back fs-1"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm p-3 min-vh-100">

      <!DOCTYPE html>
      <html lang="en">
	<head>
	</head>
	<body>
	  <div class="container mt-3 p-5">
	    <h2>Communicator</h2>
	    <div class="row">
              <div class="col-12 col-md-8">
		<div class="mb-2">
		  <label for="roomInput">Enter a room name to connect to it:</label>
		  <input type="text" class="form-control" id="roomInput" placeholder="Room name"><br>
		  <small id="roomInputHelp" class="form-text text-muted">If the room doesn't exist yet, it will be created for you.</small>

		</div>
		<button type="button" id="roomConnect" class="btn btn-success">Connect</button>
              </div>
              <div class="col-12 col-md-4">
		<label for="roomSelect">Active rooms</label>
		<select multiple class="form-control" id="roomSelect">
		  {% for room in rooms %}
		  <option>{{ room }}</option>
		  {% endfor %}
		</select>
              </div>
	    </div>
	  </div>
    </div>
	</body>
      </html>


      {% endblock content %}
      <!-- Specific Page JS goes HERE  -->
      {% block javascripts %}
      <script src="{% static 'assets/js/chat/index.js' %}"></script>
      {% endblock javascripts %}
