{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
    Index
{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
        a.cky-banner-element {
            padding: 8px 30px;
            background: #F8F9FA;
            color: #858A8F;
            border: 1px solid #DEE2E6;
            box-sizing: border-box;
            border-radius: 2px;
            cursor: pointer;
        }
    </style>

{% endblock stylesheets %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
            <meta name="description" content="Inputless-DB-site-home-page"/>
            <meta name="author" content="Vespertilio"/>
            <title>Vespertilio s.r.l.</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.ico"/>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
            <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet"/></head>
    </html>
</style>
<h1 class="privacy-policy-h1">Privacy/Cookie Policy<br><br></h1>
<h1 class="privacy-policy-h1">Privacy Policy
    <br><span>Ultimo aggiornamento 24-Nov-2021</span>
    <br><span>Data di creazione 24-Nov-2021</span>
</h1>

<p class="privacy-policy-p">
    Questa Informativa sulla privacy descrive le politiche di
        
             Verspertilio SRL,
             Taranto,
             Italia
             74121,
             Italia,
             e-mail: inputlessdb@protonmail.com,
             telefono: 3000000000
        
             sulla raccolta, l'uso e la divulgazione delle informazioni che raccogliamo quando utilizzi il nostro sito Web ( inputless-analytics.com ).
              (il servizio"). Accedendo o utilizzando il Servizio, acconsenti alla raccolta, all'uso e alla divulgazione delle tue informazioni in conformità
               con la presente Informativa sulla privacy. Se non acconsenti allo stesso, ti preghiamo di non accedere o utilizzare il Servizio.
</p>

<p class="privacy-policy-p">
    Possiamo modificare questa Informativa sulla privacy in qualsiasi momento senza alcun preavviso e pubblicheremo l'Informativa sulla privacy rivista sul Servizio.
             La Politica rivista entrerà in vigore 180 giorni da quando la Politica rivista sarà pubblicata nel Servizio e l'accesso o l'utilizzo continuato
              del Servizio dopo tale periodo costituirà l'accettazione della Politica sulla privacy rivista. Consigliamo quindi di rivedere periodicamente questa pagina.
</p>

<ol class="privacy-policy-ol">


    <li>
        <h2 class="privacy-policy-h2">
            Come utilizziamo le tue informazioni:
        </h2>
        <p class="privacy-policy-p">
            Useremo le informazioni che raccogliamo
                             su di te per i seguenti scopi:
        </p>
        <ol class="privacy-policy-ol">

            <li>Marketing/Campagne promozionali</li>


            <li>Supporto</li>


        </ol>
        <p class="privacy-policy-p">
            Se desideriamo utilizzare le tue informazioni per qualsiasi altro scopo, ti chiederemo il consenso e utilizzeremo le tue informazioni
                             solo dopo aver ricevuto il tuo consenso e quindi, solo per le finalità per le quali concedi il consenso,
                              a meno che non ci venga richiesto di fare diversamente da legge.
        </p>
    </li>


    <li>
        <h2 class="privacy-policy-h2">
            I tuoi diritti:
        </h2>
        <p class="privacy-policy-p">
            A seconda della legge applicabile, potresti avere il diritto di accedere e rettificare o cancellare i tuoi dati personali o
                             ricevere una copia dei tuoi dati personali, limitare o opporti al trattamento attivo dei tuoi dati,
                              le tue informazioni personali a un'altra entità, ritirare qualsiasi il consenso che ci hai fornito per elaborare i tuoi dati,
                               il diritto di presentare un reclamo a un'autorità legale e altri diritti che potrebbero essere rilevanti ai sensi delle leggi
                                applicabili. Per esercitare questi diritti, puoi scriverci a inputlessdb@protonmail.com.
                                 Risponderemo alla tua richiesta in conformità con la legge applicabile.
        </p>

        <p class="privacy-policy-p">
            Puoi rinunciare alle comunicazioni di marketing diretto o alla profilazione che effettuiamo per scopi di marketing scrivendoci a inputlessdb@protonmail.com.
        </p>

        <p class="privacy-policy-p">
            Tieni presente che se non ci autorizzi a raccogliere o elaborare le informazioni personali richieste o ritiri il consenso
                             al trattamento delle stesse per gli scopi richiesti, potresti non essere in grado di accedere o utilizzare i servizi per i quali sono state richieste le tue informazioni.
        </p>
    </li>
    <li>
        <h2 class="privacy-policy-h2">
            Cookies Etc.
        </h2>
        <p class="privacy-policy-p">


            Per saperne di più su come utilizziamo queste e le tue scelte in relazione a queste tecnologie di tracciamento, fai riferimento ala nostra
            <a href="#">Cookie Policy.</a>
        </p>
    </li>

    <li>
        <h2 class="privacy-policy-h2">
            Sicurezza:
        </h2>
        <p class="privacy-policy-p">
            La sicurezza delle tue informazioni è importante per noi e utilizzeremo misure di sicurezza ragionevoli per prevenire la perdita, 
                            l'uso improprio o l'alterazione non autorizzata delle tue informazioni sotto il nostro controllo. Tuttavia, dati i rischi intrinseci, 
                            non possiamo garantire la sicurezza assoluta e, di conseguenza, non possiamo garantire o garantire la sicurezza delle informazioni che ci trasmetti e lo fai a tuo rischio.
        </p>
    </li>


    <li>
        <h2 class="privacy-policy-h2">
            Reclamo / Responsabile della protezione dei dati:
        </h2>
        <p class="privacy-policy-p">
            In caso di domande o dubbi sull'elaborazione delle informazioni disponibili presso di noi, è possibile inviare un'e-mail al nostro Responsabile dei reclami presso Verspertilio SRL,
                             Taranto,
                             e-mail: inputlessdb@protonmail.com.
                             Affronteremo le tue preoccupazioni in conformità con la legge applicabile.
        </p>
    </li>
</ol>
<p class="privacy-policy-p">
    Privacy Policy generata con
    <a target="_blank" href="https://www.cookieyes.com/?utm_source=PP&utm_medium=footer&utm_campaign=UW">CookieYes</a>.
</p>
<h1 class="cookie-policy-h1">Cookie Policy</h1>
<p>
    Data di creazione: 24-Nov-2021
    <br>
    Ultimo aggiornamento: 24-Nov-2021
</p>

&nbsp;
<h5>Cosa sono i cookies?</h5>
<div class="cookie-policy-p">
    <p>Tla sua Cookie Policy spiega cosa sono i cookie e come li utilizziamo, i tipi di cookie che utilizziamo, ovvero le informazioni che raccogliamo utilizzando i cookie e come tali informazioni vengono utilizzate e come gestire le impostazioni dei cookie.</p>
    <p>Cookie sono piccoli file di testo che vengono utilizzati per memorizzare piccole informazioni. Vengono memorizzati sul tuo dispositivo quando il sito web viene caricato sul tuo browser. Questi cookie ci aiutano a far funzionare correttamente il sito Web, a renderlo più sicuro, a fornire una migliore esperienza utente e a capire come funziona il sito Web e ad analizzare cosa funziona e dove necessita di miglioramenti.</p>
</div>

&nbsp;
<h5>Come usiamo i cookies?</h5>
<div class="cookie-policy-p">
    <p>Come la maggior parte dei servizi online, il nostro sito Web utilizza cookie proprietari e di terze parti per diversi scopi. I cookie di prima parte sono per lo più necessari per il corretto funzionamento del sito Web e non raccolgono alcun dato di identificazione personale.</p>
    <p>I cookie di terze parti utilizzati sul nostro sito Web servono principalmente a comprendere come prestazioni del sito Web, come interagisci con il nostro sito Web, mantenendo i nostri servizi sicuri, fornendo annunci pubblicitari pertinenti per te e, tutto sommato, fornendoti un'esperienza utente migliore e migliorata e aiutandoti ad accelerare le tue interazioni future con il nostro sito Web.</p>
</div>

&nbsp;
<h5>Quali cookies utilizziamo</h5>

<div class="cky-audit-table-element"></div>

&nbsp;
<h5 style="margin-bottom:20px;">Gestisci le preferenze sui cookie</h5>

<a class="cky-banner-element" href="index.html">Impostazioni cookies</a>
<br/>

<div>
    <p>Puoi modificare le tue preferenze sui cookie in qualsiasi momento facendo clic sul pulsante sopra. Questo ti permetterà di visitare nuovamente la home page e premere Cookie Settings nell'angolo in basso a destra, banner consenso cookie e modificare le tue preferenze o revocare immediatamente il tuo consenso.
    </p>
    <p>Oltre a ciò, diversi browser forniscono metodi diversi per bloccare ed eliminare i cookie utilizzati dai siti web. Puoi modificare le impostazioni del tuo browser per bloccare/cancellare i cookie. Di seguito sono elencati i collegamenti ai documenti di supporto su come gestire ed eliminare i cookie dai principali browser web.</p>
    <p>Chrome:
        <a href="https://support.google.com/accounts/answer/ 32050" target="_blank">https://support.google.com/accounts/answer/32050</a>
    </p>
    <p>Safari:
        <a href="https://support.apple.com /it-in/guide/safari/sfri11471/mac" target="_blank">https://support.apple.com/it-in/guide/safari/sfri11471/mac</a>
    </p>
    <p>Firefox:
        <a href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?redirectslug=delete-cookies-remove-info-websites-stored&redirectlocale= en-US" target="_blank">https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?redirectslug=delete-cookies-remove-info-websites- stored&redirectlocale=en-US</a>
    </p>
    <p>Internet Explorer:
        <a href="https://support.microsoft.com/en-us/topic/how-to-delete-cookie-files- in-internet-explorer-bca9446f-d873-78de-77ba-d42645fa52fc" target="_blank">https://support.microsoft.com/en-us/topic/how-to-delete -cookie-files-in-internet-explorer-bca9446f-d873-78de-77ba-d42645fa52fc</a>
    </p>
    <p>Se stai utilizzando un altro browser web, visita i documenti di supporto ufficiali del tuo browser.</p>
</div>


&nbsp;
<p class="cookie-policy-p">
    Cookie Policy Generata con
    <a target="_blank" href="https://www.cookieyes.com/?utm_source=CP&utm_medium=footer&utm_campaign=UW">CookieYes - Cookie Policy Generator</a>.
</p>


<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; Vespertilio SRL 2021</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="policy-it.html">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Termini</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="contact-it.html">Contattaci</a>
            </div>
        </div>
    </div>

</footer>{% endblock content %}<!-- Specific Page JS goes HERE  -->{% block javascripts %}
<script src="{% static 'assets/js/particles/particles.js' %}"></script>
<script src="{% static 'assets/js/particles/app.js' %}"></script>
<!-- Start cookieyes banner -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>{% endblock javascripts %}
