{% extends "layouts/base.html" %}
{% load i18n %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% load static %}

{% block stylesheets %}

<link href="{% static 'assets/css/solid.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet" />

<style>
 body {
   background: #141516;
 }
 .justify-content-center {
   -ms-flex-pack: center !important;
   justify-content: center !important;
   padding-top: 23%;
 }
</style>
{% endblock stylesheets %}



{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Login" />
    <meta name="author" content="Vespertilio" />
    <title>Inputless Cloud Feedback</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.ico" />
  </head>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-auto bg-dark sticky-top">
	<div class="d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top">
          <ul
            class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-2 align-items-center">
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
		 data-bs-placement="right" data-bs-original-title="Home">
		<i class="bi bi-back fs-1"></i>
              </a>
            </li>
          </ul>
	</div>
      </div>
      <div class="col-sm p-3 min-vh-100">
	<body class="d-flex flex-column">
	  <main class="flex-shrink-0">
	    <div class="container py-5 h-100">
	      <div class="row d-flex justify-content-center align-items-center h-100">
		<section class="pricing section">
		  <div class="container-sm">
		    <div class="pricing-inner section-inner"
		      <div class="pricing-tables-wrap">
			<div class="pricing-table">
			  <div class="pricing-table-inner is-revealing">
			    <div class="pricing-table-main">
			      <h2 class="fw-bold mb-2 text-uppercase">Thanks! Your feedback has been sent!</h2>
			    </div>
			  </div>
			</div>
		      </div>
		    </div>
		</section>
	  </main>
	</body>
		  </div>
	      </div>
	    </div>
      </div>
    </div>
  </div>

</html>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}



