{% extends 'layouts/base.html' %}

{% load static %}
{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{% static 'assets/css/ellie.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/scrollbar.css' %}" rel="stylesheet" />

{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-auto bg-dark sticky-top">
      <div class="d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top">
	<ul
	  class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-2 align-items-center">
	  <li class="nav-item">
	    <a href="{% url 'home' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
	       data-bs-placement="right" data-bs-original-title="Home">
	      <i class="bi bi-back fs-1"></i>
	    </a>
	  </li>
	</ul>
      </div>
    </div>
    <div class="col-sm p-3 min-vh-100">
      <!-- content -->

      <div class="container-xl px-4 mt-4">
	<!-- Account page navigation-->
	<nav class="nav nav-borders">
	  <a class="nav-link active ms-0" href="profile" target="__blank">Profile</a>
	  <a class="nav-link" href="billing" target="__blank">Billing</a>
	  <a class="nav-link" href="sign-up" target="__blank">Create User</a>
	  <a class="nav-link" href="security" target="__blank">Security</a>
	</nav>
	<hr class="mt-0 mb-4">
	<div class="row">
	  <div class="col-xl-4">
	    <!-- Profile picture card-->
	    <div class="card mb-4 mb-xl-0">
	      <div class="card-header">Profile Picture</div>
	      <div class="card-body text-center">
		<!-- Profile picture image-->
		<img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
		<!-- Profile picture help block-->
		<!-- <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div> -->
		<!-- Profile picture upload button-->
	      </div>
	    </div>
	  </div>
	  <div class="col-xl-8">
	    <!-- Account details card-->
	    <div class="card mb-4">
	      <div class="card-header">Account Details</div>
	      <div class="card-body">
		<form>
		  <!-- Form Row       -->
		  <div class="row gx-3 mb-3">
		    <!-- Form Group (username)-->
		    <div class="col-md-6">
		      <label class="small mb-1" for="inputUsername">Username</label>
		      <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="{{ user.get_username }}">
		    </div>
		    <!-- Form Group (email address)-->
		    <div class="col-md-6">
		      <label class="small mb-1" for="inputEmailAddress">Email address</label>
		      <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="{{ user.email }}">
		    </div>

		  </div>
		  <!-- Form Row-->
		  <div class="row gx-3 mb-3">
		    <!-- Form Group (first name)-->
		    <div class="col-md-6">
		      <label class="small mb-1" for="inputFirstName">First name</label>
		      <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="{{ user.first_name }}">
		    </div>
		    <!-- Form Group (last name)-->
		    <div class="col-md-6">
		      <label class="small mb-1" for="inputLastName">Last name</label>
		      <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="{{ user.last_name }}">
		    </div>
		  </div>
		  <!-- Form Row        -->
		  <div class="row gx-3 mb-3">
		    <!-- Form Group (organization name)-->
		    <div class="col-md-6">
		      <label class="small mb-1" for="inputOrgName">Organization name</label>
		      <input class="form-control" id="inputOrgName" type="text" placeholder="Organization name" value="{{tenant.organization}}">
		    </div>
		    <!-- Form Group (location)-->
		    <div class="col-md-6">
		      <label class="small mb-1" for="inputLocation">Location</label>
		      <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="{{tenant.location}}">
		    </div>
		  </div>
		  
		  <!-- Form Row-->
		  <div class="row gx-3 mb-3">
		    <!-- Form Group (phone number)-->
		    <div class="col-md-6">
		      <label class="small mb-1" for="inputPhone">Phone number</label>
		      <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{tenant.phone}}">
		    </div>
		    <!-- Form Group (birthday)-->
		    <div class="col-md-6">
		      <label class="small mb-1" for="inputBirthday">Account Type</label>
		      <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Account Type" value="{{tenant.type}}">
		    </div>
		  </div>
		  
		</form>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
