{% extends 'layouts/base.html' %}

{% load bootstrap5 %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
<link href="{% static 'assets/css/gradient.css' %}" rel="stylesheet" />
<style>
label {
    display: block;
}
</style>
{% endblock stylesheets %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Login" />
    <meta name="author" content="Vespertilio" />
    <title>Inputless Cloud Reset Page</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.ico" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-5">

                                <h4>{% trans 'Restore password' %}</h4>
                                <form method="post">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}

                                    <button class="btn btn-primary">{% trans 'Next' %}</button>

                                </form>
                            <hr>
                        <ul>
                        <li>
                        <a href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a>
                        </li>
                    </ul>


                    </div>
                 </div>
             </div>
            </div>
            </div>
        </section>
        </main>
    </body>
</html>
                

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
