{% extends 'layouts/base.html' %}

{% load bootstrap5 %}
{% load i18n %}
{% load static %}

{% block stylesheets %}
<link href="{% static 'assets/css/ellie.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/forms.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/navbar.css' %}" rel="stylesheet" />
<style>
  label+input {
  width: 36%;
  margin: 0 30% 0 4%;
  }

</style>
{% endblock stylesheets %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Sign-up" />
    <meta name="author" content="Vespertilio" />
    <title>Inputless Cloud Registration</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.ico" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
	<div class="col-sm-auto bg-dark sticky-top">
	  <div class="d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top">
	    <ul
	      class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-2 align-items-center">
	      <li class="nav-item">
		<a href="security" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
		   data-bs-placement="right" data-bs-original-title="Home">
		  <i class="bi bi-back fs-1"></i>
		</a>
	      </li>
	    </ul>
	  </div>
	</div>
	    
	<div class="col-sm p-3 min-vh-100">
	  <!-- content -->
	  <div class="container-xl px-4 mt-4">
	    <!-- Account page navigation-->
	    <nav class="nav nav-borders">
	      <a class="nav-link active ms-0" href="profile" target="__blank">Profile</a>
	      <a class="nav-link" href="billing" target="__blank">Billing</a>
	      <a class="nav-link" href="sign-up" target="__blank">Create User</a>
	      <a class="nav-link" href="security" target="__blank">Security</a>
	    </nav>
	    <hr class="mt-0 mb-4">
	    <div class="row">
	      <div class="col-xl-4">
		<div class="card mb-4">
		  <div class="card-header">Create User</div>
		  <div class="card-body">

		    <form method="post">

		      {% csrf_token %}
		      {% bootstrap_form form %}

		      <button class="btn btn-success">{% trans 'Change' %}</button>

		    </form>



		
		  </div>

		</div>
	      </div>
	    </div>
	  </div>
	</div>
  </body>
</html>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}

