{% extends "layouts/base.html" %}
{% load i18n %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% load static %}

{% block stylesheets %}

<link href="{% static 'assets/css/solid.css' %}" rel="stylesheet" />

<style>
 .justify-content-center {
   -ms-flex-pack: center !important;
   justify-content: center !important;
   padding-top: 23%;
 }
</style>
{% endblock stylesheets %}



{% block head %}
{{ wizard.form.media }}
{% endblock %}




{% block content %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Login" />
    <meta name="author" content="Vespertilio" />
    <title>Inputless Cloud Checkout</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/assets/img/favicon.ico" />
  </head>


  <body class="d-flex flex-column">
    <main class="flex-shrink-0">
      <div class="container py-5 h-100">
	<div class="row d-flex justify-content-center align-items-center h-100">
	
	  <section class="pricing section">
            <div class="container-sm">
	      <div class="pricing-inner section-inner">
		<div class="pricing-tables-wrap">
		  <div class="pricing-table">
		    <div class="pricing-table-inner is-revealing">
		      <div class="pricing-table-main">
			<h1>Creating Account ... Please Wait!</h1>
			<p1> Please click submit to confirm</p1>
			<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
			<form action="" method="post">
			  {% csrf_token %}
			  <table>
			    {{ wizard.management_form }}
			    {% if wizard.form.forms %}
			    {{ wizard.form.management_form }}
			    {% for form in wizard.form.forms %}
			    {{ form|crispy }}
			    {% endfor %}
			    {% else %}
			    {{ wizard.form }}
			    {% endif %}
			  </table>


			  <div class="d-flex justify-content-center">
			    <button class="btn btn-outline-light btn-lg px-5" value="{% trans "
				    submit" %}" type="submit" 
				    onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();">
			      Submit</button>
			  </div>
			</form>


		    
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	  </section>

    </main>
  </body>

</html>
{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
